:root {
  --header-background: url(/images/hero-background.svg) no-repeat;
  --background-color: #f3f3f3;
  --text-color: #333;
  --border-radius: 8px;
  --accent-color: #111;
  --shadow-color: #0001;
  --heading-font-size: 2rem;
  --sub-heading-font-size: 1.2rem;
  --hero-padding: 1rem 1.5rem;
  --hero-screen-height: 200px;
  --hero-screen-width: auto;
  --hero-phone-height: 200px;
  --hero-phone-width: 100px;
  --hero-phone-top: 10px;
  --hero-box-padding: 0;
}

@media screen and (min-width: 400px) {
  :root {
    --heading-font-size: 3rem;
    --sub-heading-font-size: 1.7rem;
    --hero-padding: 5rem 1.5rem;
    --hero-screen-height: 400px;
    --hero-phone-height: 280px;
    --hero-phone-width: 140px;
    --hero-phone-top: 80px;
    --container-width: auto;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --heading-font-size: 3.5rem;
    --sub-heading-font-size: 2.2rem;
    --hero-screen-height: 500px;
    --hero-screen-width: 1000px;
    --hero-phone-height: 400px;
    --hero-phone-width: 220px;
    --hero-phone-top: 120px;
    --hero-box-padding: 4rem 0;
    --main-margin: 4rem 0rem 1rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --hero-padding: 6rem 0;
    --container-width: 1000px;
    --main-margin: 0px auto;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

button {
  cursor: pointer;
}

p {
  color: #666;
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
